body {
   text-align: center;
   background: black;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
}

#sound {      
   font-size: 2em; 
   padding: 1em 0;  
}

#sound a {
   margin-right: 1em;
}

a {
   color: orangered;
}

#game-over-dialog {
   background: black;
   color: orangered;
   height: 300px;
   width: 500px;
   top: 0;
   margin-top: 90px;
}

.restart-game-button {
   background: orangered;
    border: orangered;
    border-radius: 5px;
    height: 30px;
    width: 100px;
}