body {
   text-align: center;
   background: black;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
}

#sound {      
   font-size: 2em; 
   padding: 1em 0;  
}

#sound a {
   margin-right: 1em;
}

a {
   color: orangered;
}

#game-over-dialog {
   height: 150px;
   width: 200px;
   top: 0;
   margin-top: 90px;
}